<h1>Conclusion</h1>

<h2>Conclusion globale</h2>

<p>Le sujet des PWA n'est pas encore très vaste de part la jeunesse de la technologie, cependant, elle est toujours de plus en plus poussée par Angular au fil des mises à jour</p>
<p>Par exemple, lors de la dernière mise à jour d'Angular ( Version 8 ), des modifications ainsi que des ajouts sont prévus pour simplifier certains traitements avec les service-worker</p>
<p>Le sujet reste à surveiller de près bien que peu pratique à mettre en place en environnement de développement à l'heure actuelle</p>

<h2>Conclusion personnelle</h2>

<p>Je suis tombé amoureux d'Angular depuis mon premier stage en entreprise où j'ai eu la chance d'en faire, donc pouvoir utiliser ce langage lors d'un projet "personnel" a été un réel plaisir.</p>
<p>Je me suis lancé dans l'aventure des PWA à la suite de mon précédent stage où je m'étais légèrement familiarisé avec elles. Cependant, je pensais que le sujet était bien plus vaste que ce qu'il est en réalité.</p>
<p>Le sujet peut parraitre simple au premier abord au vue de comment Angular simplifie de version en version l'implémentation de la chose, cependant il n'en est rien.</p>
<p>Réussir à trouver un un moyen de servir ce site internet en https afin que la partie PWA puisse fonctionner ( puisqu'elle est la partie centrale du projet ) sans avoir à avoir recours à un serveur afin de simuler un environnement de développement a été un réel challenge</p>
<p>De plus, le fait de pouvoir accéder au site sur mobile sans avoir de configuration supplémentaire nécessaire a été un réel plus afin de pouvoir essayé les fonctionnalités des PWA</p>
<p>J'espère que ce bref rapport sur les PWA vous aura plu et vous aura appris des choses comme il a été très enrichissant pour moi.</p>


<h2><a routerLink="/welcome" routerLinkActive="active">Retour au sommaire</a></h2>
