<h1>Introduction</h1>

<h2>Constat</h2>

<p>Nous sommes aujourd'hui dans un monde où les ordinateurs et les smartphones sont de plus en plus amenés à cohabiter.</p>
<p>Nos téléphones portables sont de plus en plus performants sans que l'on ne s'en rende compte</p>
<p>Il y a encore 10 ans, 4 gigas de RAM était la norme pour une ordinateur, maintenant, même nos téléphones portables peuvent être plus puissant que nos ancients oridnateurs</p>
<p>Certaines personnes n'ont même plus besoin d'ordinateurs tellement nos téléphones sont devenues puissants !</p>
<p>Dans ce monde où tout commence à tourner autour des portables, les applications mobiles se font de plus en plus nombreuses</p>
<p>Maintenant, énormément d'entreprises ont au moins une application mobile, allant de la proposition de service au client, à l'application professionnelle pour gérer le stock de magasin etc..</p>
<p>Cependant, bien souvent, avant de demander une application mobile, ces mêmes entreprises demandent la création d'un site web</p>

<h2>La cohabitation</h2>

<p>De nombreuses entreprises demandent d'avoir leur application mobile calquée sur leur site internet.</p>
<p>Si l'on prend les grandes applications mobiles actuellement disponile sur les différents stores possibles, on se rend vite compte que ces applications mobiles sont disponibles au format web, avec des design semblablent et des fonctionnalités égales</p>
<p>Prenons par exemple Facebook, ils ont à leur actif un site internet et une application mobile, en tout point similaire. Avez-vous déjà été sur le site internet de Facebook avec votre téléphone portable ? </p>
<p>Il y a de grandes chances que vous n'y soyez jamais allé, l'application mobile étant le standard dans ce cas là</p>
<p>Et pourtant, le site est totalement responsive sur mobile, le design étant une quasi copie conforme de l'application !</p>
<p>Chose qui est fort dommage, rendre le site comme l'application à partir d'une certaine taille d'écran demande plusieurs jours de développement, à chaque nouvelle fonctionnalité de l'application elle est reporté sur le site mobile etc...</p>
<p>Si seulement il existait un moyen efficace de palier à cela...</p>

<h2>La solution !</h2>

<p>Et bien ce moyen existe, depuis peu certes, mais il existe !</p>
<p>Et ce moyen magnifique n'est autre que... Les PWA !</p>

<h2><a routerLink="/whatis" routerLinkActive="active">Mais qu'est ce qu'une PWA ?</a></h2>

<h2><a routerLink="/welcome" routerLinkActive="active">Retour au sommaire</a></h2>
