<h1>Qu'est ce qu'une PWA ?</h1>


<h2>Definition</h2>

<p>PWA est une abbréviation pour "Progressive Web App", on pourrait croire au premier abord que ce site est un site banal.</p>
<p>Cependant, la particularité de ce dernier est, qu'une fois accédé via un appareil mobile sous Android ou iOS, un message apparait nous demandant si l'on désire installer le site sur votre appareil !</p>
<p>Si vous acceptez, le site viendra s'installer sur votre appareil et sera disponible de la même manière qu'une application téléchargée sur le store de votre appareil !</p>
<p>Ce site sera disponible hors ligne et stocké dans la mémoire de votre appareil ! Le rendant beaucoup accessible si vous consultez régulièrement !</p>

<h2>Histoire</h2>

<p>Le terme PWA est assez jeune puisqu'il date de 2015.</p>
<p>C'est un ingénieur de Google qui proposa ce terme pour désigner ce genre de site web</p>
<p>Il existait donc des PWA avant même que le terme existe, cependant, elles étaient très rares et la démocratisation se fit une fois la chose nommée</p>

<h2>Les promesses d'une PWA</h2>

<p>Si une PWA est construite correctement, alors, par définition, elle promet les choses suivantes :</p>
<ul>
  <li>Elle est progressive, elle fonctionne peu importe le navigateur</li>
  <li>Elle est responsive, le design s'adapte selons la taille de l'appareil</li>
  <li>Elle fonctionne hors ligne, le service worker le permettant, ce qui sera expliqué plus tard.</li>
  <li>Elle ressemble et à les codes d'une application mobile</li>
  <li>Elle est toujours à jour et demande à se mettre à jour une fois qu'une connexion internet est disponible et qu'une nouvelle version est disponible</li>
  <li>Elle est "sure", elle est servie en HTTPS</li>
  <li>Elle est engagente avec des push notifications etc..</li>
  <li>Elle peut s'installer</li>
  <li>Facilement partageable, le lien d'index suffisant</li>
</ul>

<p>La plupart de ces caractéristiques sont vérifiables avec Google Chrome, ce dernier possédant un outil vérifiant si le site est bien une PWA</p>
<p>Pour y accéder :</p>
<ul>
  <li>Ouvrez Google Chrome</li>
  <li>Rendez vous sur le site à tester</li>
  <li>Appuyez sur la touche F12 de votre clavier</li>
  <li>Rendez vous dans l'onglet "Audit"</li>
  <li>Cliquez sur "Lancer un audit"</li>
</ul>

<p>Après tout cela, votre navigateur lancera une série de tests, et vous communiquera les résultats du site quelques instants plus tard</p>

<p>Ci-dessous l'audit du site sur lequel vous êtes actuellement !</p>
<img src="../../assets/content/audit.png" alt="Audit du site">

<p>Vous pouvez voir que ce site en presque parfait en tant que PWA, le seul point n'étant pas au vert est que notre PWA ne redirige pas le traffic HTTP vers de l'HTTPS, chose impossible sans certificat officiel</p>


<h2><a routerLink="/how" routerLinkActive="active">Comment fait-on une PWA ?</a></h2>

<h2><a routerLink="/welcome" routerLinkActive="active">Retour au sommaire</a></h2>
