<h1>Les avantages d'une PWA</h1>

<p>Il y a énormément d'avantages à construire une PWA.</p>

<h2>Temps de développement réduit</h2>
<p>Le temps de développement peut être par exemple considérablement réduit si le projet s'y prête</p>
<p>En construisant une PWA, si le projet comporte la demande de création d'un site web ainsi qu'une application mobile, selons si le projet est compatible avec les désavantages d'une PWA (<a routerLink="/pros" routerLinkActive="active">voir ici</a>)</p>
<p>Alors la PWA est une bonne alternative !</p>
<p>En effet, il suffit d'avoir des connaissance en HTML/CSS et en Angular pour pouvoir réaliser ces deux composants !</p>
<p>Le temps de développement ne sera pas divisé par deux puisque la réalisation d'une PWA demande d'avoir un site responsive de façon parfaite ce qui peut prendre beaucoup de temps</p>
<p>Cependant, le gain de temps sera tout de même considérablement réduit surtout si la demande d'application mobile concernait Android et iOS</p>
<p>La PWA permettant cette formule 3 en 1, site web mais aussi application Android et iOS</p>

<h2>Pas de store</h2>
<p>Un autre avantage d'avoir une PWA est cette liberté de ne pas passer par les store mobile</p>
<p>Bien que le store Android soit largement abordable, le store iOS peut l'est moins</p>
<p>Ce qui peut être un frein dans certains cas</p>
<p>Ici, seul le coût du serveur est présent.</p>

<h2>Un coup de boost</h2>
<p>En effet, même si cet avantage n'est pas toujours présent, de nombreux sites / applications ont eu un boost de visite depuis qu'ils ont lancé leur PWA</p>
<p>Il existe même un site référençant les success story de PWA, elles sont nombreuses et croient d'années en années</p>
<p>Ce site est une compilation de faits sur les PWA, allant de site internet ayant doublé leur fréquentation aux gains de performances octroyé par la construction d'une PWA par rapport à l'application mobile</p>
<p>Il existe même un site référençant les PWA disponibles à l'heure actuelle !</p>

<h2>Un gain de performance</h2>

<p>Grâce au Service Worker permettant de mettre en cache votre site web ( <a routerLink="/whatis" routerLinkActive="active">cf les promesses d'une PWA</a> )</p>
<p>Votre site web gagnera forcément en rapidité d'affichage !</p>


<h2><a routerLink="/cons" routerLinkActive="active">Les désavantages d'une PWA</a></h2>

<h2><a routerLink="/welcome" routerLinkActive="active">Retour au sommaire</a></h2>
